<div class="container fundo-mesa">
    <div class="row">
        <div class="col-sm">
            <button (click)="iniciaJogo(true)">Inicio Limpo</button>
        </div>
        <div class="col-sm">
            <button (click)="iniciaJogo(false)">Inicio Sujo</button>
        </div>

        <div class="col-sm">
            <div class="placar">
                <h1>Valendo: {{ tentosValendo }}</h1>
                <h4>Meus Tentos: {{ meusPontos }} </h4>
                <h4>PC Tentos: {{ pcPontos }} </h4>
                <button (click)="limpaARodada()">Limpa Rodada</button>
            </div>
            <br>
            <div class="rodada">
                <h4>Primeira Rodada: {{ primeiraRodada }}</h4>
                <h4>Segunda Rodada: {{ segundaRodada }}</h4>
                <h4>Terceira Rodada: {{ terceiraRodada }}</h4>
            </div>
        </div>
    </div>

    <div class="row carta">
        <div *ngFor="let carta of cartasComputador; let item=index" class="col-sm">
            <div [style.backgroundImage]="'url('+ carta.urlFoto +')'" class="carta"
                (click)="selecionaCarta(item,false)">
                <br><br><br><br><br><br>
            </div>
        </div>
    </div>

    <br><br>

    <div *ngIf="urlImagem" class="row">
        <div class="col-sm carta" [style.backgroundImage]="'url('+ urlImagem +')'">
            <br><br><br><br><br><br>
        </div>

        <div *ngIf="carta1Img" class="col-sm carta" [style.backgroundImage]="'url('+ carta1Img +')'">
            <br><br><br><br><br><br>
        </div>

        <div *ngIf="carta2Img" class="col-sm carta" [style.backgroundImage]="'url('+ carta2Img +')'">
            <br><br><br><br><br><br>
        </div>
    </div>

    <br><br>

    <div class="row carta">
        <div *ngFor="let carta of minhasCartas; let item=index" class="col-sm">
            <div [style.backgroundImage]="'url('+ carta.urlFoto +')'" class="carta" (click)="selecionaCarta(item,true)">
                <br><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>