.carta{
    background-repeat: no-repeat;
}

.fundo-mesa1{
    background-image: url("/assets/cartas/FUNDO.png");
}

.fundo-mesa{
    background-color: lawngreen;
}

.placar{
    background-color: aquamarine;
}

.rodada{
    background-color: green;
    color: indigo;
    align-content: right;
}